body {
    font-family: monospace;
}
h1 {
    font-size: 1.5em;
    text-align: center;
    color: #333;
}
.container {
    display: flex;
    border: 1px solid #ccc;
    max-width: 400px;
    margin: 0 auto;
}
.item {
    background: tomato;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    padding: 0 10px;
}
.flex {
    flex: 1;
}
.column {
    flex-direction: column;
    min-height: 200px;
}
.flex-start {
    justify-content: flex-start;
    /*Alinha os itens ao início do container*/
}
.flex-end {
    justify-content: flex-end;
    /*Alinha os itens ao final do container*/
}
.center {
    justify-content: center;
    /*Alinha os itens ao centro do container*/
}
.space-between {
    justify-content: space-between;
    /*Cria um espaçamento igual entre os elementos. Mantendo o primeiro grudado no início e o último no final*/
}
.space-around {
    justify-content:  space-around;
    /*Cria um espaçamento entre os elementos. Os espaçamentos do meio são duas vezes maiores que o inicial e final*/
}