/*
Define quais colunas serão ocupadas pelo grid item. É possível definir uma linha de início e final, assim o item irá ocupar múltiplas colunas.

grid-column: 1
// O item ocupará a coluna 1.

grid-column: 1 / 3
// O item ocupará a coluna 1 e 2 (Sim, isso mesmo, 1 e 2, pois os valores 1 / 3 são referentes as linhas da coluna. Isso significa que começa na linha 1 (início do grid) e vai até a linha 3, que é o começo da terceira coluna).

grid-column-start: 2
// O item vai começar na linha 2.

grid-column-end: 4
// O item vai terminar na linha 4.

grid-column: span 2
// O item irá ocupar duas colunas a partir de onde ele estiver.
*/

