body {
    font-family: monospace;
}
h1 {
    font-size: 1.5em;
    text-align: center;
    color: #333;
    font-weight: normal;
    margin: 20px 0 0 0;
}
.container {
    max-width: 400px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
}
.item {
    background: tomato;
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
}
.grow0 {
    flex-grow: 0;
    /*Os itens NAo se expandem para ocupar o container*/
}
.grow1 {
    flex-grow: 1;
    /*Os itens se expandem igualmente para ocupar o container. Utilizando apenas o flex-grow, o crescimento é distribuído igualmente antes e depois do conteúdo de cada elemento. (pois por padrão o flex-basis é auto)*/
}
.grow2 {
    flex-grow: 2;
    /*Os itens se expandem duas vezes mais que aqueles com flex-grow: 1;*/
}