body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: #707070;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 3s;
}

.slide img {
    width: 800px;
}

.navigation-auto div{
    border: 2px solid #0d7ec9;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #2b2b2b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #b1b1b1a4;
}

#radio1:checked ~.first{
    margin-left: 0;
}
#radio1:checked ~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~.first{
    margin-left: -25%;
}
#radio2:checked ~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~.first{
    margin-left: -50%;
}
#radio3:checked ~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~.first{
    margin-left: -75%;
}
#radio4:checked ~.navigation-auto .auto-btn4 {
    background-color: #fff;
}

